*{
    margin: 0;
}
form {
    display: block;
    border: 1px soild lightgoldenrodyellow;
    padding: 3rem;
    margin-top: 1rem;
}

button{
    padding: .3rem;
    background-color: lime;
    color: white;
}
label{
    display: block;
}
